body, html {
  margin: 0;
  padding: 0;
	background-color: black;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  font-family: sans-serif;
  font-size: 20px;
}

.ojo {
  width: 80px;
  height: auto;
  margin-bottom: 20px;
}
p, title, h1{ 

	color: aliceblue;
}
.cargando{
	color: black;
	
}